<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="java.fx.User">
        <constructor-arg name="id" value="fz"/>
        <constructor-arg name="name" value="lin"/>
        <constructor-arg name="age" value="26"/>
    </bean>
</beans>